<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sim Hub.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>040FAB5FC52125B17415EEA7232A3FF33788B5FF</string>
				<key>dateExpires</key>
				<string>02.05.23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VLE9UF43XH.com.welivelikethis.simhub</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VLE9UF43XH</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Sim Hub.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>133fdc3f-b0f0-40b5-88cd-2f0304f91418</string>
				<key>dateExpires</key>
				<string>02.05.23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.welivelikethis.simhub</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VLE9UF43XH</string>
				<key>name</key>
				<string>Robert Kortenoeven</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
